body {
    margin: 0px;

    /* background-color: #E6EED6; */
    background-color: #fdfdfd !important;
    font-family: 'Montserrat', sans-serif;

}

/* @font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 600;
    src: url(https://www.apple.com/wss/fonts/SF-Pro-Display/v2/sf-pro-display_semibold.woff2) format('woff2');
} */

#main {
    margin: 25px;
}

.photo {
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.text-600 {
    font-weight: 600;
    font-style: normal;
    font-size: 3em;
}

.material-icons {
    vertical-align: middle;
}

#profile-head {
    width: 100%;
    height: 200px;
}

#profile-photo {
    width: 250px;
    height: 250px;

    float: left;

    background-image: url('../img/caio.jpeg');
    background-size: contain;
}

#personal-info {
    width: 60%;

    float: left;

    margin-left: 60px;
}

#profile-about {
    font-size: 1.3em;
    font-weight: 400;
}

#profile-location {
    font-size: 24px;
    font-weight: 300;
}

#profile-location span {
    vertical-align: middle;
}

#profile-contact {
    float: right;

    padding-top: 32px;
}

.contact-btn {
    margin-bottom: 15px;
    border: 1px solid blue;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 5px;

    text-transform: uppercase;
    color: black;
    font-weight: 600;
    letter-spacing: .0892857143em;
    line-height: inherit;

    cursor: default;
}

.contact-btn:hover {
    background-color: #E6EED6;
}

.contact-btn i {
    margin-right: 15px;
    
}

a.btn-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}